# shellcheck shell=bash
# Copy to env/<profile>.env and customize.
# Example:
#   cp env/profile.template.env env/fugaku.env

: "${USE_MODULES:=0}"
: "${MODULES_TO_UNLOAD:=}"
: "${MODULES_TO_LOAD:=}"

# Main compiler used by fpm install
: "${FC:=gfortran}"

# OpenMP-only example:
# : "${FFLAGS:=-O3 -fopenmp}"
#
# MPI + OpenMP example:
# : "${FFLAGS:=-O3 -qopenmp -fpp -DUSE_MPI}"
: "${FFLAGS:=-O3 -fopenmp}"

: "${LDFLAGS:=}"
